@import '../../../node_modules/antd/dist/antd.compact.less';
@brand-color: @primary-color;

@layout-header-background: @body-background;
@layout-body-background: @body-background;
@component-background: @body-background;
@bg-color-dark: @brand-color;
@text-color-dark: '#fff';

@font-size-base: 14px;
@font-size-body: @font-size-base;
@font-size-lg: 1.147rem;
